<div class="edu-inner">
  
    <h2>Eğitim</h2>
  <mat-icon class="add" (click)="openDialog(mode.Add,null)">add</mat-icon>
  <div class="edu" *ngIf="!educations">Herhangi bir eğitim bilgisi eklememişsiniz</div>
  <div *ngIf="educations">
    <div *ngFor="let edu of educations" class="edu" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h3 fxFlex>{{edu.title}}</h3>
        <mat-icon class="edit" (click)="openDialog(mode.Edit,edu)">edit</mat-icon>
      </div>
      <span fxFlex>{{edu.subtitle}}</span>
      <span fxFlex class="place">{{edu.place}}</span>
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
        <span class="start-date">{{edu.startedDate | date}}</span>
        <span class="end-date" *ngIf="edu.endDate">{{edu.endDate | date}}</span>
      </div>
      <span fxFlex class="city">{{edu.city}}</span>
    </div>
  </div>
</div>
