<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="box" fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-between center">
      <div class="headbox" fxLayout="column" fxLayoutAlign="center">
        <h2>Üye Olun</h2>
      </div>
      <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="registerForm">
        <mat-form-field appearance="legacy">
          <mat-label>E-posta Adresiniz</mat-label>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Şifreniz</mat-label>
          <input matInput placeholder="Şifre" type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>İsminiz</mat-label>
            <input matInput placeholder="İsim" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Soyisminiz</mat-label>
            <input matInput placeholder="Soyisim" formControlName="lastname">
          </mat-form-field>
        </form>
      <div class="button-container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="3px">
        <button mat-raised-button routerLink="/login"> <-Giriş Yap </button>
        <button mat-raised-button color="primary" [disabled]="!registerForm.valid" (click)="Register()">Kayıt Ol</button>
      </div>
    </div>
  </div>
  