.inner{
    padding: 19px;
}

.inner h3{
    margin: 0;
    margin-bottom: 5px;
}
.inner h4{
    font-style: italic;
    color: gray;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
}
.add{
    margin-right: 15px;
    font-size: 32px;
}
.add:hover{
    cursor: pointer;
    color: blue;
}
.chip-list{
    width: 100%;
}
button{
    float:right;
}
.chips{
    margin-right: 5px;
}