<div fxLayout="column" fxLayoutAlign="center center">
    <div class="container profile">
        <div class="img-container" fxLayout fxLayoutAlign="center">
        </div>
        <mat-icon class="edit" (click)="openEditDialog()">edit</mat-icon>
        <div class="circle" (click)="openProfilePictureDialog()">
            <img *ngIf="member?.profilePicturePath" [src]="address + member?.profilePicturePath" alt="">
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column">
                <span class="name"> {{member?.firstName +" "+ member?.lastName | titlecase}} </span> 
                <span class="left-span degree">{{ member?.degree }}</span>
                <span class="left-span"> {{ member?.currentPlace }} </span>
                
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="right-side">
                <span>{{ member?.degree }}</span>
            </div>

        </div>

    </div>
    <div class="container about">
        <div class="inner">
            <h3>Hakkında</h3>
            <p>{{member?.about}}</p>
        </div>
    </div>
    <div class="container view">
        <div class="inner">
            <h3>Tablonuz</h3>
            <h4>Size özel</h4>
            <div fxLayout="row" fxLayoutAlign="center" class="views">
                <div class="box" fxFlex>
                    <div fxLayout="column" class="inner">
                        <span class="number">{{member?.view}}</span>
                        <span class="text">Profilinizi kimler görüntüledi</span>
                    </div>
                </div>
                <div class="box" fxFlex>
                    <div fxLayout="column" class="inner">
                        <span  class="number">{{member?.view}}</span>
                        <span class="text">Gönderi görüntülenmesi</span>
                    </div>
                </div>
                <div class="box box-last" fxFlex>
                    <div fxLayout="column" class="inner">
                        <span  class="number">{{member?.view}}</span>
                        <span class="text">Arama görüntülenmesi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container exp-edu">
        <app-experience [experiences]="member?.experiences"  [memberId]="member?.id" (statusUpdated)="refreshMember()"></app-experience>
        <hr/>
        <app-education [educations]="member?.educations" [memberId]="member?.id" (statusUpdated)="refreshMember()"></app-education>
    </div>
    <div class="container skill">
        <app-skill [skills]="member?.skills" [memberId]="member?.id" ></app-skill>
    </div>
    <div fxLayout="row" fxLayoutAlign="end" style="margin:10px 0px;" (click)="Logout()">
        <button mat-raised-button color="warn">Çıkış Yap</button>
    </div>
</div>
